<div #overlay id="overlay">
    <textarea #config tabindex="0" cols="30"
        [(ngModel)]="configuration"
        (focus)="focusConfig($event)" (blur)="blurConfig()"
        (wheel)="onMouseWheel($event)">
    </textarea>
    <img class="signature" src="assets/love.svg" alt="signature"/>
</div>
<canvas #canvas
    tabindex="1"
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    (mousemove)="onMousemove($event)"
    (wheel)="onMouseWheel($event)"
    (touchstart)="onTouchstart($event)"
    (touchmove)="onTouchmove($event)"
    (touchend)="onTouchcancel($event)"
    (touchcancel)="onTouchcancel($event)"
></canvas>
